.about-sec{
    width: 100%;
    padding-top: 1rem;
}
.about-inner{
    width: 95%;
    margin:  0 auto;
    padding: 1rem;
    border-radius: 10px;
    border: solid green;
    background-color: rgb(186, 194, 184);
}

.mission-story{
    width: 100%;
    margin-top: 3rem;
}
.mission-story-inner{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.story{
    width: 60%;
    padding: 1rem;
    border-radius: 10px;
    border: solid green;
    background-color: rgb(186, 194, 184);
}
.mission{
    width: 30%;
    padding: 1rem;
    border-radius: 10px;
    border: solid green;
    background-color: rgb(186, 194, 184);
}

@media (max-width: 828px) {
    .mission-story-inner{
        flex-direction: column;
        gap: 1rem;
    }
    .about-inner{
        width: 80%;
    }

    .mission{
        width: 85%;
        margin: 0 auto;
    }
    .story{
        width: 85%;
        margin: 0 auto;
    }
}