.landing-sec{
    width: 100%;
    height: 90vh;
    background-color: antiquewhite;
    z-index: 100;
}
.landing-inner{
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url(../images/mamodiehi\ landing.webp);
    background-position: center;
    background-size: cover;
}
.landing-caption{
    width: 40%;
    min-height: 13rem;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(33, 185, 33, 0.792);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}
.landing-caption h1{
    padding: 0;
    margin: 0;
}
.landing-caption h2{
    padding: 0;
    margin: 0;
    color: rgb(53, 70, 54);
}
.landing-caption p{
    width: 60%;
}
.action-button{
    background-color: rgb(190, 190, 190);
    width: 8rem;
    border: none;
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    justify-items: center;
    justify-content: center;
}
.action-button-icon{
    width: 18px;
}
.action-button a{
    text-decoration:  none;
    color: black;
}
.landing-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 0, 0.2);
}

@media (max-width: 977px) {
    .landing-caption{
        width: 50%;
    }
    .landing-caption p{
        width: 90%;
    }
}
@media (max-width:570px) {
    .landing-caption{
        width: 85%;
    }
    .landing-caption p{
        width: 90%;
    }
}
