*{
  padding: 0;
  margin: 0;
}
.landing-sec{
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: -2;
}
.landing-sec-inner{
  width: 98%;
  height: 100vh;
  position: relative;
  background-color: black;
}
.triangle-big{
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: green;
  clip-path: polygon(100% -7%, 51% 50%, 100% 107%);
}
.triangle-small{
  width: 100%;
  height: 100%;
  position: absolute;
  right: -1px;
  background-color: white;
  clip-path: polygon(100% -2%, 56% 50%, 100% 102%);
}
.landing-content{
  width: 40%;
  height: 50%;
  position: absolute;
  left: 10%;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.landing-content-top{
    font-size: 25px;
    font-weight: bold;
}
.landing-content-bottom{
    width: 70%;
    margin-left: 5%;
    font-size: 20px;
}
.landing-email-address{
  color: blue;
}
.landing-logo-con{
  width: 20%;
  height: 30%;
  position: absolute;
  right: 10%;
  top: 35%;
  overflow: visible;
}
.landing-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
}

.landing-sec-inner-responsive{
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: black;
  display: none;
}
.triangle-small-responsive{

  clip-path: polygon(48% 60%, -5% 100%, 105% 100%);
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 1;
}
.triangle-big-responsive {
  clip-path: polygon(48% 57%, -10% 100%, 110% 100%);
  width: 100%;
  height: 100%;
  bottom: 1rem;
  position: absolute;
  background-color: green;
}

.landing-content-responsive{
  width: 60%;
  height: 44%;
  top: 7%;
  left: 20%;
  position: absolute;
  z-index: 1;


}
.landing-logo-responsive{
  width: 25%;
  height: 30%;
  position: absolute;
  bottom:3%;
  left: 36%;
  z-index: 1;
}
.logo-responsive{
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
    .landing-sec-inner-responsive{
      display: block;
    }
}
@media (max-width: 1000px) {
    .landing-sec-inner{
        display: none;
    }
    .landing-sec{
      height: 90vh;
    }
    .landing-content-responsive{
      color: white;
    }
    .landing-content-top{
      font-size: 22px;
    }
    .landing-content-bottom{
      font-size: 15px;
      padding-top: 1rem;
    }
}
@media (max-width: 740px) {
  .landing-logo-responsive{
    width: 28%;
    height: 28%;
  } 
}
@media (max-width: 630px) {
    .landing-logo-responsive{
      width: 30%;
      height: 25%;
      bottom: 5%;
      left: 35%;
    }
    .landing-content-responsive{
      width: 74%;
      left: 14%;
    }
}
@media (max-width: 520px) {
  .landing-logo-responsive{
    width: 37%;
    height: 24%;
    left: 31%;
    bottom: 4%;
  }
  .landing-content-top{
    font-size: 18px;
  }
  .landing-content-bottom{
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .landing-logo-responsive{
    width: 43%;
    height: 24%;
    left: 29%;
    bottom: 4%;
  }
}
