.social-links{
    width: 2rem;
    background-color: rgba(33, 185, 33, 0.792);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
    position: fixed;
    right: 5px;
    bottom: 0;
    z-index: 2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.social-icon-con{
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 15px;
}
.social-icon{
    width: 100%;
    height: 100%;
}